node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.next
out
build
dist
coverage
.DS_Store
*.pem
.env
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts
.turbo
.idea
.vscode
*.swp
*.swo
README.md
docker-compose.yml
Dockerfile
